<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload</title>

	<link rel="stylesheet" href="/app.css">
</head>
<body>
	
	<main>

		<div id="dragMessage">Drop a File to Upload</div>
		<div id="dragOverlay"></div>
		<script>
		document.querySelector('#dragOverlay').addEventListener('dragenter', function (e) {
    	e.originalEvent.stopPropagation();
    	e.originalEvent.preventDefault();
    	console.log('dragenter');
    	$('body').addClass('dragenter');
		});
		document.querySelector('#dragOverlay').addEventListener('dragleave', function (e) {
    	e.originalEvent.stopPropagation();
    	e.originalEvent.preventDefault();
    	console.log('dragleave');
    	document.querySelector('body').removeClass('dragenter');
		});
		</script>

		<div id="list">

			<h1>Files</h1>
			
			<div id="files">
				<% for (const file of files) { %>
		
					<div>
					
						<span><%- file.split("_").slice(0, -1).join("") %></span> <span style="float: right;"> (<%- file.split("_").slice(-1) %>)</span>

						<div class="controls">

							<a href="#" onclick="location.replace(`/stream_audio/${prompt('Channel name! (without #)')}/<%- encodeURIComponent(file) %>`);">Play</a>
							<a href="/download/<%- file %>">Download</a>

						</div>

					</div>
		
				<% } %>
			</div>
	
		</div>
	
		<div id="upload">
	
			<h1>Upload</h1>
	
			<p>Upload files to Discord below! Please make sure that the files don't contain any private info!</p>
	
			<form ref='uploadForm' 
			id='uploadForm' 
			action='/upload' 
			method='post' 
			encType="multipart/form-data">
				<input type="file" name="foo">
				<input type='submit' value='Upload!'>
			</form>
	
		</div>

	</main>

</body>
</html>
