@import url("https://rsms.me/inter/inter.css");

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: "Inter";
}

main {

    /* padding: 20px; */

    display: grid;
    grid-template-columns: 1fr 1fr;

}

main>*:first-child {

    grid-column: 1;
    padding: 40px;

}

main>*:last-child {

    grid-column: 2;
    padding: 40px;

}

#files>* {

    padding: 5px 0px;
    margin-bottom: 10px;

}

#files a {

    color: #4263eb;

}

.play {

    display: block;

}
