@import url("https://rsms.me/inter/inter.css");

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: "Inter";
}

main {

    padding: 20px;

}

#files>* {
    padding: 5px 0px;
}

#files>*, #files a {

    color: #4263eb;

}
